<main>
    <%= render partial: "application/breadcrumb", 
    locals: {list: @breadcrumbs} %>

    <%= render partial: "application/pagination", locals: {
    collection: @posts, class_name: "posts-container" } %>

    <% if @posts.empty? %>
        <%= render partial: "application/no_record", locals: {model: Post } %>
    <% end %>


    <%= render 'posts/form', subject: @subject, 
    post: @subject.posts.build %>
</main>