<div class="comment-column-left">
    <h2><%= @post.user.name %></h2>
</div>

<div class="comment-column-right">
    <h3><%= @post.title %></h3>
    <p><%= @post.body %></p>
    <footer><%= @post.created_at %></footer>
</div>
