<%= render partial: "application/breadcrumb", 
locals: {list: @breadcrumbs} %>

<% if @page == 1 %>
    <div class="comment-display">
        <%= render "post_content" %>
    </div>
<% end %>

<%= render partial: "application/pagination", locals: 
{collection: @comments}%>

<%= render 'comments/form', post: @post, comment: @post.comments.build %>