<%= render partial: "application/breadcrumb", 
locals: {list: @breadcrumbs} %>

<% if @page == 1 %>
    <div class="comment-display">
        <%= render "post_content" %>
    </div>
<% end %>

<%= render partial: "application/record_limiter", 
locals: {collection: @post.comments} %>

<% if logged_in? %>
    <h2>Create a comment:</h2>
    <%= render 'comments/form' %>
<% end %>