body {
    background-color: #CAD2C5;
}

.content-display {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 4px;
}

.content-header {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #354F52;
    border-bottom: none;
    background-color: #679F8F;
    border-radius: 5px 5px 0px 0px;
}

.content-container {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 0px 0px 5px 5px;
    background-color: #AFCAB0;
}

.content-item {
    display: block;
    flex-grow: 1;
    color: #354F52;
    text-decoration: none;
    border-top: 3px solid #679F8F;
    padding-left: 4px;
}

.content-item:first-child {
    border: none;
}

.content-item:hover {
    background-color: #354F52;
    color: #AFCAB0;
    border: none;
}

.content-item:hover + .content-item {
    border-top: none;
}