body {
    font-family: "Lato", sans-serif;
    background-color: #CAD2C5;
}

button, input, textarea {
    font-family: inherit;
}

.alert {
    color: #354f52;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.topbar {
    display: flex;
    justify-content: end;
}

.background-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#modal_turbo_frame form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.account-navigation {
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 130px;
    margin-bottom: 5px;
}

.account-navigation a, .account-navigation button {
    display: block;
    width: 60px;
    padding: 4px;
    color: #354F52;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #AFCAB0;
    border: 2px solid #679F8F;
}

.account-navigation a:hover, .account-navigation button:hover {
    background-color: #679F8F;
    border: 2px solid #354F52;
}

.account-navigation a:active, .account-navigation button:active, 
input[type="submit"]:active {
    background-color: #2F3E46;
    color: #AFCAB0;
    border: 2px solid #2F3E46;
}

.breadcrumb-list {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.breadcrumb-list a, .breadcrumb-list div {
    text-decoration: none;
    color: #354F52;
}

.breadcrumb-list a:hover {
    color: #679F8F;
}

.content-display {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 4px;
}

.content-header {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #354F52;
    border-bottom: none;
    background-color: #679F8F;
    border-radius: 5px 5px 0px 0px;
}

.content-container, .posts-container {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 10px;
}

.posts-container {
    border: 4px solid #679F8F;
    border-radius: 5px;
}

.content-item, .post-item {
    display: block;
    flex: 1;
    color: #354F52;
    text-decoration: none;
    border-top: 3px solid #679F8F;
    padding-left: 4px;
    background-color: #AFCAB0;
}

.post-item {
    padding: 4px;
    padding-left: 8px;
}

.content-item h3, .post-item h3 {
    margin-top: 8px;
    margin-bottom: 14px;
}

.content-item:first-child, .post-item:first-child {
    border: none;
}

.content-item:hover {
    background-color: #354F52;
    color: #AFCAB0;
    border-color: #354F52;
}

.content-item:hover + .content-item {
    border-color: #354F52;
}

.post-item:hover {
    background-color: #354F52;
    color: #AFCAB0;
}

.comment-display {
    display: flex;
    flex-flow: row nowrap;
    background-color: #AFCAB0;
    color: #354F52;
    border: 2px solid #679F8F;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 20px;
}

.comment-column-left {
    flex: 1;
    text-align: center;
}

.comment-column-right {
    flex: 10;
}

.item-info {
    margin-bottom: 4px;
}

.exit-button {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 4px;
    border: none;
    background: none;
}

.exit-button:hover {
    cursor: pointer;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

form h1 {
    text-align: center;
}

.form-content {
    display: flex;
    flex-flow: column nowrap;
    background-color: #AFCAB0;
    color: #354F52;
    padding: 10px;
    border-radius: 6px;
    gap: 5px;
}

.form-column-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    width: 440px;
    margin-bottom: 5px;
}

.form-column-left, .form-column-right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    flex: 1;
    gap: 5px;
}

.form-content label {
    font-weight: bold;
}

.form-content .required::after {
    content: "*"
}

.form-content input[type="submit"]{
    align-self: center;
}

.form-content input {
    border: 3px solid #354F52;
    color: #354F52;
    background-color: #cad2c5;
    height: 30px;
    border-radius: 5px;
    flex: 1 1 auto;
}

input[type="submit"]{
    background-color: #CAD2C5;
    color: #354F52;
    width: 64px;
    height: 32px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid #354F52;
}

.post-creator, .comment-creator {
    flex: 1;
    width: 1000px;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #AFCAB0;
}

.post-creator h2, .comment-creator h2 {
    font-size: 1.5rem;
    align-self: center;
    color: #354f52;
    margin: 0;
    padding: 8px;
}

.post-creator label, .comment-creator label {
    display: none;
}

.post-creator input[type="text"]{
    padding: 5px;
    height: 30px;
    border: 1px solid #679f8f;
    border-radius: 3px;
    background-color: #cad2c5;
    font-size: 1.25rem;
    color: #354f52;
}

.post-creator textarea, .comment-creator textarea{
    resize: none;
    overflow: auto;
    height: 200px;
    padding: 5px;
    border: 1px solid #679f8f;
    border-radius: 3px;
    background-color: #cad2c5;
    font-size: 0.9rem;
    color: #354f52;
}

.post-creator input[type="submit"], .comment-creator input[type="submit"]{
    border: 1px solid #679f8f;
}

.post-creator input[type="submit"]:active, .comment-creator input[type="submit"]:active {
    border-color: #2F3E46;
}

nav {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

nav a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

nav div {
    font-size: 16px;
    color: #354F52;
}