<section class="content-display">
    <header class="content-header"><%= category.name.capitalize %></header>
    <article class="content-container">
        <%= render partial: "subjects/subject", 
        collection: category.subjects, locals: {render_turbo: true} %>
    </article>
</section>