<div class="content-display">
    <div class="content-header"><%= category.name.capitalize %></div>
    <div class="content-container">
        <%= render partial: "subjects/subject", 
        collection: category.subjects, locals: {render_turbo: true} %>
    </div>
</div>