<nav class="account-navigation">
    <% unless logged_in? %>
        <%= link_to "Signup", signup_path, data: { turbo_frame: "modal" } %>
        <%= link_to "Login", login_path, data: { turbo_frame: "modal" } %>
    <% else %>
        <%= button_to "Logout", logout_path, method: :delete, data: {turbo: false} %>
    <% end %>
</nav>