<menu class="breadcrumb-list">
    <li><%= link_to "Home", root_path %></li>
    <% if local_assigns[:list] %>
        <% list.each do |link| %>
            <li>></li>
            <li><%= link_to link[:name], link[:content] %></li>
        <% end %>
    <% end %>
</menu>