<div class="breadcrumb-list">
    <%= link_to "Home", root_path %>
    <% if local_assigns[:list] %>
        <% list.each do |link| %>
            <div>></div>
            <%= link_to link[:name], link[:content] %>
        <% end %>
    <% end %>
</div>